
<!-- class="ion-no-border " -->

 <ion-header class="ion-navbar">

 <a class="logo-icon" routerLink="/">Backpack Story</a>

 <span class="flex-spacer"></span>

  <div class="d-flex btn mx-auto justify-content-center">
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['home']">Home</button>
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['#']">About</button>
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['#']" #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="tours">Tours</button>
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['#']" #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="services">Services</button>
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['#']" #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="pages">Pages</button>
    <button mat-button class="h5" routerLinkActive="active" [routerLink]="['#']">Contact</button>

  </div>


  <mat-menu #tours="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="tour1">Tour1</button>
    <button mat-menu-item [matMenuTriggerFor]="tour2">Tour2</button>
  </mat-menu>

  <mat-menu #tour1="matMenu">
    <button mat-menu-item>Tour Safari</button>
    <button mat-menu-item>Tour Sea</button>
  </mat-menu>

  <mat-menu #tour2="matMenu">
    <button mat-menu-item>Tour</button>
    <button mat-menu-item>Tour</button>
  </mat-menu>

  <mat-menu #services="matMenu">
    <button mat-menu-item>Service 1</button>
    <button mat-menu-item>Service 2</button>
    <button mat-menu-item>Service 3</button>
  </mat-menu>

  <mat-menu #pages="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="page1">page 1</button>
    <button mat-menu-item [matMenuTriggerFor]="page2">page 2</button>
    <button mat-menu-item [matMenuTriggerFor]="page3">page 3</button>

  </mat-menu>

  <mat-menu #page1="matMenu">
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
  </mat-menu>

  <mat-menu #page2="matMenu">
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
  </mat-menu>

  <mat-menu #page3="matMenu">
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
    <button mat-menu-item>page </button>
  </mat-menu>


  <span class="flex-spacer"></span>


  <div class="login-out">

    <div class="justify-item-center mr-5">
      <a mat-button (click)="openLogin()">
        <span>
          <ion-icon name="log-in-outline"></ion-icon>
        </span> Login
      </a>

      <a mat-button (click)="openRegister()"><span>
          <ion-icon name="add"></ion-icon>
        </span> Register</a>
    </div>

    <ng-template>
      <a mat-button>
        <ion-icon name="log-out-outline"></ion-icon> Logout
      </a>
    </ng-template>
  </div>

</ion-header>



<!-- <ion-header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      
      <a class="navbar-brand logo-icon" routerLink="/">Backpack Story</a>

      <span class="flex-spacer"></span>

      <button
        class="navbar-toggler bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon bg-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['home']"
            >
              Home
            </button>
          </li>
          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['about']"
            >
              About
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['tours']"
              #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="tours"
            >
              Tours
            </button>
          </li>
          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['service']"
              #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="services"
            >
              Services
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['pages']"
              #menuTrigger="matMenuTrigger"
              [matMenuTriggerFor]="pages"
            >
              Pages
            </button>
          </li>

          <li class="nav-item">
            <button
              mat-button
              class="h5"
              routerLinkActive="active"
              [router-outlet]="['contact']"
            >
              Contact
            </button>
          </li>
        </ul>

        <mat-menu #tours="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="tour1">Tour1</button>
          <button mat-menu-item [matMenuTriggerFor]="tour2">Tour2</button>
        </mat-menu>

        <mat-menu #tour1="matMenu">
          <button mat-menu-item>Tour Safari</button>
          <button mat-menu-item>Tour Sea</button>
        </mat-menu>

        <mat-menu #tour2="matMenu">
          <button mat-menu-item>Tour</button>
          <button mat-menu-item>Tour</button>
        </mat-menu>

        <mat-menu #services="matMenu">
          <button mat-menu-item>Service 1</button>
          <button mat-menu-item>Service 2</button>
          <button mat-menu-item>Service 3</button>
        </mat-menu>

        <mat-menu #pages="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="page1">page 1</button>
          <button mat-menu-item [matMenuTriggerFor]="page2">page 2</button>
          <button mat-menu-item [matMenuTriggerFor]="page3">page 3</button>
        </mat-menu>

        <mat-menu #page1="matMenu">
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
        </mat-menu>

        <mat-menu #page2="matMenu">
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
        </mat-menu>

        <mat-menu #page3="matMenu">
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
          <button mat-menu-item>page</button>
        </mat-menu>

        <span class="flex-spacer"></span>

        <div class="justify-item-center login-out">
          <a mat-button>
            <span>
              <ion-icon name="log-in-outline"></ion-icon>
            </span>
            Login
          </a>

          <a mat-button
            ><span>
              <ion-icon name="add"></ion-icon>
            </span>
            Register</a
          >
        </div>

        <ng-template>
          <a mat-button>
            <ion-icon name="log-out-outline"></ion-icon> Logout
          </a>
        </ng-template>
      </div>
    </div>
  </nav>
</ion-header> -->

